<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <div>
      <%= render project %>
      <%= link_to "Show", project %>
    </div>
  <% end %>
  <br>
</div>
